.chat .users, .chat .chatbox{
 display:inline-block;
 vertical-align:down;
 height:350px;
 padding:0px 15px;
 position:relative;
}
.chat .users{
 background:#CCC;
 color:green;
 width:250px;
 overflow-y:auto;
}
.chat .chatbox{
 background:#fff;
 color:green;
 margin-left:4px;
 width:600px;
}
.chat .chatbox .msgs{
 border-top:2px solid black;
 border-bottom:1px solid black;
 overflow-y:auto;
 height:350px;
}
.chat .chatbox #msg_form{
 padding-top:1.5px;
}
.chat .error{color:red;}
.chat .success{color:green;}
.chat .msgs .msg, .chat .users .user{border-bottom:1px solid black;padding:4px 0px;white-space:pre-line;word-break:break-word;}
